.presentation {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
@media screen and (max-width: 600px) {
  .presentation {
    flex-direction: column;
    align-items: center;
  }
}
.presentation__left {
  width: 20%;
  background: #82CEB1;
}
@media screen and (max-width: 1000px) {
  .presentation__left {
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  .presentation__left {
    width: 80%;
    height: 10rem;
  }
}
.presentation__right {
  width: 40%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .presentation__right {
    width: 80%;
  }
}
.presentation__right h1 {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #82CEB1;
}
.presentation__right h2 {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-left: 1rem;
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  .presentation__right h2 {
    font-size: 1rem;
  }
}
.presentation__right__description {
  width: 75%;
  height: 60%;
  margin: 1rem;
  text-align: justify;
}
@media screen and (max-width: 1000px) {
  .presentation__right__description {
    width: 100%;
    height: 80%;
  }
}
@media screen and (max-width: 600px) {
  .presentation__right__description {
    width: calc(100% - 2rem);
  }
}
.presentation__right__btn {
  max-width: 80%;
  height: 15%;
  background-color: #82CEB1;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.presentation__right__btn:hover {
  background-color: #255F49;
  box-shadow: 6px 8px 6px #82CEB1;
}
.presentation__right__btn:hover a {
  color: #FCFCFC;
}
@media screen and (max-width: 1000px) {
  .presentation__right__btn {
    max-width: 100%;
  }
}
.presentation__right__btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #4B3E34;
  font-weight: 600;
}

.projects {
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.projects__title h2 {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 3rem;
  color: #4B3E34;
  text-decoration: underline #82CEB1;
}
.projects__scroll {
  display: none;
}
@media screen and (max-width: 1000px) {
  .projects__scroll {
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    color: #82CEB1;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
.projects__gallery {
  width: 100%;
  height: 32rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  align-items: center;
  padding: 0 calc(50vw - 150px);
  scrollbar-width: none;
  gap: 3rem;
}
@media screen and (max-width: 600px) {
  .projects__gallery {
    margin: 1rem;
    gap: 2rem;
  }
}
.projects__gallery::-webkit-scrollbar {
  display: none;
}
.projects__gallery__card {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 30%;
  height: 24rem;
  background: #4B3E34;
  border: solid 3px #82CEB1;
  border-radius: 1rem;
  margin-top: 5rem;
  padding-top: 6rem;
  display: flex;
  flex: 0 0 26rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  scroll-snap-align: center;
  /* The View Timeline Animation */
  animation: pop-in linear both;
  animation-timeline: view(x);
}
@media screen and (max-width: 600px) {
  .projects__gallery__card {
    flex: 0 0 18rem;
    height: 26rem;
  }
}
.projects__gallery__card:hover {
  box-shadow: 6px 8px 6px #255F49;
}
.projects__gallery__card__title h3 {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #82CEB1;
}
.projects__gallery__card__img {
  width: 12rem;
  height: 10rem;
  background: #FCFCFC;
  border: solid 3px #82CEB1;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-45%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__gallery__card__img img {
  width: 90%;
  height: 80%;
  border-radius: 1rem;
}
.projects__gallery__card__description {
  width: 100%;
  height: 20%;
  color: #FCFCFC;
  margin: 1rem;
  padding: 0.4rem;
  display: flex;
  text-align: center;
}
.projects__gallery__card__btn {
  width: 60%;
  height: 18%;
  background: #82CEB1;
  border-radius: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__gallery__card__btn:hover {
  background: #255F49;
  box-shadow: 2px 2px 2px 2px #82CEB1;
}
.projects__gallery__card__btn:hover a {
  color: #FCFCFC;
}
.projects__gallery__card__btn a {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  color: #4B3E34;
}
.projects__gallery__card__btnsecondary {
  background: #E5F5EF;
  width: 30%;
  height: 14%;
}
@media screen and (max-width: 1000px) {
  .projects__gallery__card__btnsecondary {
    width: 50%;
  }
}
.projects__gallery__card__btnsecondary:hover {
  background: #E5F5EF;
}
.projects__gallery__card__btnsecondary:hover a {
  color: #255F49;
  text-decoration: underline #255F49;
}
.projects__gallery__card__btnsecondary a {
  color: #255F49;
}
@keyframes pop-in {
  0% {
    transform: scale(0.5) rotate(-3deg);
    opacity: 0.2;
  }
  50% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  /* Center Point */
  100% {
    transform: scale(0.5) rotate(3deg);
    opacity: 0.2;
  }
}

.disappear {
  display: none;
}

.design {
  height: 16rem;
  padding-top: 4rem;
  margin-top: 0;
}

/*# sourceMappingURL=index.css.map */
