h2 {
  padding: 1rem;
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4B3E34;
  text-decoration: underline #82CEB1;
}

.presentation {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
@media screen and (max-width: 600px) {
  .presentation {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
.presentation__left {
  width: 20%;
  display: flex;
  justify-content: center;
}
.presentation__left img {
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .presentation__left {
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  .presentation__left {
    width: 80%;
    height: 10rem;
  }
}
.presentation__right {
  width: 40%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .presentation__right {
    width: 80%;
  }
}
.presentation__right h1 {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #82CEB1;
}
.presentation__right h2 {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-left: 1rem;
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  .presentation__right h2 {
    font-size: 1rem;
  }
}
.presentation__right__description {
  width: 75%;
  height: 60%;
  margin: 1rem;
  text-align: justify;
}
@media screen and (max-width: 1000px) {
  .presentation__right__description {
    width: 100%;
    height: 80%;
  }
}
@media screen and (max-width: 600px) {
  .presentation__right__description {
    width: calc(100% - 2rem);
  }
}
.presentation__right__btn {
  max-width: 80%;
  height: 15%;
  background-color: #82CEB1;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4B3E34;
  font-weight: 600;
  gap: 1rem;
}
.presentation__right__btn ion-icon {
  font-size: 26px;
  margin-bottom: 0.3rem;
}
.presentation__right__btn:hover {
  background-color: #255F49;
  box-shadow: 6px 8px 6px #82CEB1;
  color: #FCFCFC;
}
@media screen and (max-width: 1000px) {
  .presentation__right__btn {
    max-width: 100%;
    margin: 1rem;
  }
}

.hobbies {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 3rem;
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .hobbies {
    margin: 0;
  }
}
.hobbies__list {
  width: 100%;
  height: auto;
  display: flex;
}
@media screen and (max-width: 600px) {
  .hobbies__list {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
.hobbies__list__card {
  width: 30%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .hobbies__list__card {
    width: 100%;
    gap: 1rem;
  }
}
.hobbies__list__card__img {
  width: 80%;
  height: 80%;
  margin: 1rem;
}
.hobbies__list__card__img img {
  object-fit: cover;
  border-radius: 1rem;
  border: solid 3px #82CEB1;
  width: 100%;
  height: 100%;
}
.hobbies__list__card__content {
  display: flex;
  flex-wrap: wrap;
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  color: #82CEB1;
}
.hobbies__list__card .content2 {
  display: none;
}
@media screen and (max-width: 600px) {
  .hobbies__list__card .content1 {
    display: none;
  }
  .hobbies__list__card .content2 {
    display: flex;
  }
}

.skills {
  width: 100%;
  height: 18rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .skills {
    flex-direction: column;
    align-items: start;
  }
}
.skills__scroll {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  width: auto;
  height: 14rem;
  align-items: center;
  padding-top: calc(14rem - 100px);
  scrollbar-width: none;
}
@media screen and (max-width: 1000px) {
  .skills__scroll {
    align-self: center;
  }
}
.skills__scroll::-webkit-scrollbar {
  display: none;
}
.skills__scroll__items {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
  flex: 0 0 10rem;
  width: 18rem;
  height: 3rem;
  margin: 1rem;
  gap: 1rem;
  color: #82CEB1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  scroll-snap-align: center;
  /* The View Timeline Animation */
  animation: pop-in linear both;
  animation-timeline: view(y);
}

.design {
  margin-left: 6rem;
}
@media screen and (max-width: 1000px) {
  .design {
    margin-left: 0;
  }
}

.picto {
  width: auto;
  height: 100%;
}

@keyframes pop-in {
  0% {
    transform: scale(0.5);
    opacity: 0.2;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  /* Center Point */
  100% {
    transform: scale(0.5);
    opacity: 0.2;
  }
}

/*# sourceMappingURL=profil.css.map */
