@use "_variables.scss" as *;

// typo
@mixin typo-light {
  font-family: $typo;
  font-weight: 300;
  font-style: normal;
}
@mixin typo-regular {
  font-family:$typo ;
  font-weight: 400;
  font-style: normal;
}
@mixin typo-bold {
  font-family:$typo ;
  font-weight: 700;
  font-style: normal;
}
@mixin typo-light-italic {
  font-family:$typo ;
  font-weight: 300;
  font-style: italic;
}
@mixin typo-regular-italic {
  font-family:$typo ;
  font-weight: 400;
  font-style: italic;
}
@mixin typo-bold-italic {
  font-family:$typo ;
  font-weight: 700;
  font-style: italic;
}
