
// color test
$blue:blue;
// color site
$light-background:#FCFCFC;
$black:#090706;
$white:#FCFCFC;

$brown:#4B3E34;
$light-brown:#A99484;
$dark-brown:#241E19;

$green:#82CEB1;
$light-green:#E5F5EF;
$dark-green:#255F49;

// typo
$typo:"Sansation", sans-serif;
$bold:700;
$normal-size: 16px;
$large-size:24px;

// taille de gap
$x-small:0.5rem;
$small:1rem;
$x-medium:1.5rem;
$medium:2rem;
$large:3rem;
$x-large:4.5rem;
$full:100%;
// 