// color test
$blue: blue;
// color site
$light-background: #fcfcfc;
$black: #090706;
$white: #fcfcfc;

$brown: #4b3e34;
$light-brown: #a99484;
$dark-brown: #241e19;

$green: #82ceb1;
$light-green: #e5f5ef;
$dark-green: #255f49;

// typo
$typo: "Sansation", sans-serif;
$bold: 700;
$normal-size: 16px;
$large-size: 24px;

// taille de gap
$x-small: 0.5rem;
$small: 1rem;
$x-medium: 1.5rem;
$medium: 2rem;
$large: 3rem;
$x-large: 4rem;
$xx-large: 4.5rem;
$full: 100%;
//
