@use "../abstract/_shared.scss" as *;
.presentation{
    width: $full;
    height: 20rem;
    display: flex;
    justify-content: center;
    gap: $large;
    &__left{
        width: 20%;
        background:$primary ;
    }
    &__right{
        width: 40%;
        display: flex;
        flex-direction: column;
        h1{
            @include typo-bold ();
            color: $primary;
        }
        h2{
            @include typo-light-italic();
            margin-left:$small;
        }
        &__description{
            height: 60%;
            margin: $small;
        }
        &__btn{
            width: 40%;
            height: 15%;
            background-color: $primary;
            border-radius: $small;
            padding: $small;
            display: flex;
            justify-content: center;
            align-items: center;
            gap:$small;
        }
    }
}
.projects {
  width: $full;
  height: 91vh;
  padding: $medium;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  &__title {
    width: 75%;
    height: 15%;
  }
  &__gallery {
    width: 90%;
    height: $full;
    padding: $medium;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: $medium;
    &__card {
      width: 25%;
      height: 50%;
      background: salmon;
      padding: $small;
      padding-top: $large;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      position: relative;
      &__img {
        width: 5rem;
        height: 5rem;
        background: red;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      &__description {
        width: $full;
        height: 50%;
        padding: 1rem;
        display: flex;
      }
      &__btn {
        width: 30%;
        height: 10%;
        padding: 1rem;
      }
    }
  }
}