@use "../abstract/shared"as *;

.presentation {
  width: $full;
  height: auto;
  display: flex;
  justify-content: center;
  gap: $large;

  @include telephone {
    flex-direction: column;
    align-items: center;
  }

  &__left {
    width: 20%;
    display: flex;
    justify-content: center;

    & img {
      height: 100%;
    }

    @include tablette {
      width: 30%;
    }

    @include telephone {
      width: 80%;
      height: 10rem;
    }
  }

  &__right {
    width: 40%;
    display: flex;
    flex-direction: column;

    @include telephone {
      width: 80%;
    }

    & h1 {
      @include typo-bold ();
      color: $green;
    }

    & h2 {
      @include typo-light-italic();
      margin-left: $small;
      text-decoration: none;

      @include tablette {
        font-size: $small;
      }
    }

    &__description {
      width: 75%;
      height: 60%;
      margin: $small;
      text-align: justify;

      @include tablette {
        width: $full;
        height: 80%;
      }

      @include telephone {
        width: calc($full - $medium);
      }
    }

    &__btn {
      max-width: 80%;
      height: 15%;
      background-color: $green;
      border-radius: $small;
      padding: $small;
      display: flex;
      justify-content: center;

      &:hover {
        background-color: $dark-green;
        box-shadow: (6px 8px 6px $green);

        a {
          color: $white;
        }
      }

      @include tablette {
        max-width: $full;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $small;
        color: $brown;
        font-weight: 600;
      }
    }
  }
}

.projects {
  width: $full;
  height: auto;
  padding: $medium;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__title h2 {
    @include typo-bold();
    width: $full;
    height: 15%;
    display: flex;
    justify-content: center;
    margin-top: $medium;
    font-size: $large;
    color: $brown;
    text-decoration: underline $green;
  }

  &__scroll {
    display: none;

    @include tablette {
      @include typo-bold-italic();
      font-size: $x-medium;
      margin-top: $x-medium;
      display: flex;
      color: $green;
      justify-content: center;
      align-items: center;
      gap: $small;
    }
  }

  &__gallery {
    width: $full;
    height: 32rem;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    align-items: center;
    padding: 0 calc(50vw - 150px);
    scrollbar-width: none;
    gap: $large;

    @include telephone {
      margin: $small;
      gap: $medium;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &__card {
      @include typo-regular();
      width: 30%;
      height: 24rem;
      background: $brown;
      border: solid 3px $green;
      border-radius: $small;
      margin-top: 5rem;
      padding-top: 6rem;
      display: flex;
      flex: 0 0 26rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $x-small;
      position: relative;
      scroll-snap-align: center;

      /* The View Timeline Animation */
      animation: pop-in linear both;
      animation-timeline: view(x);

      @include telephone {
        flex: 0 0 18rem;
        height: 26rem;
      }

      &:hover {
        box-shadow: (6px 8px 6px $dark-green);
      }

      &__title h3 {
        @include typo-bold();
        color: $green;
      }

      &__img {
        width: 12rem;
        height: 10rem;
        background: $white;
        border: solid 3px $green;
        border-radius: $small;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-45%);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 90%;
          height: 80%;
          border-radius: $small;
        }
      }

      &__description {
        width: $full;
        height: 20%;
        color: $white;
        margin: $small;
        padding: .4rem;
        display: flex;
        text-align: center;
      }

      &__btn {
        width: 60%;
        height: 18%;
        background: $green;
        border-radius: $x-small;
        margin: $x-small;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: $dark-green;
          box-shadow: (2px 2px 2px 2px $green);

          a {
            color: $white;
          }

        }

        a {
          @include typo-bold();
          width: $full;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5%;
          color: $brown;
        }

      }

      &__btnsecondary {
        background: $light-green;
        width: 30%;
        height: 14%;

        @include tablette {
          width: 50%;
        }

        &:hover {
          background: $light-green;

          a {
            color: $dark-green;
            text-decoration: underline $dark-green;

          }
        }

        a {
          color: $dark-green;
        }
      }
    }

    @keyframes pop-in {
      0% {
        transform: scale(0.5) rotate(-3deg);
        opacity: 0.2;
      }

      50% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
      }

      /* Center Point */
      100% {
        transform: scale(0.5) rotate(3deg);
        opacity: 0.2;
      }
    }
  }
}

.disappear {
  display: none;
}

.design {
  height: 16rem;
  padding-top: $x-large;
  margin-top: 0;
}