@use "../abstract/_shared.scss" as *;
.presentation{
    width: $full;
    height: 20rem;
    display: flex;
    justify-content: center;
    gap: $large;
    &__left{
        width: 20%;
        background:$green ;
    }
    &__right{
        width: 40%;
        display: flex;
        flex-direction: column;
        h1{
            @include typo-bold ();
            color: $green;
        }
        h2{
            @include typo-light-italic();
            margin-left:$small;
        }
        &__description{
            height: 60%;
            margin: $small;
        }
        &__btn{
            width: 40%;
            height: 15%;
            background-color: $green;
            border-radius: $small;
            padding: $small;
            display: flex;
            justify-content: center;
            align-items: center;
            gap:$small;
        }
    }
}
.projects {
  width: $full;
  height: auto;
  padding: $medium;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &__title h2{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    margin-top: $medium;
    @include typo-bold();
    font-size: $large;
    color: $brown;
    text-decoration: underline $green;
  }
  &__gallery {
    width: $full;
    height: $full;
    padding: $large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: $small;
    &__card {
      width: 30%;
      height: 24rem;
      background: $brown;
      border: solid 3px $green;
      border-radius: $small;
      color: $green;
      margin-top:7%;
      padding-top:8%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $x-small;
      position: relative;
      &:hover{
        box-shadow: (6px  8px 6px $dark-green);

      }
      &__title h3{
        @include typo-bold();
      }
      &__img {
        width:12rem;
        height: 10rem;
        border: solid 3px $green;
        border-radius: $small;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-45%);
         img{
          width: 100%;
          height: 100%;
          border-radius: $small;
         }
      }
      &__description {
        width: $full;
        height: 20%;
        color:$white;
        margin: 1rem;
        padding: 1rem;
        display: flex;
        text-align: center;
      }
      &__btn {
        width: 60%;
        height: 18%;
        background: $green;
        border-radius: $x-small;
        margin: $x-small;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          background: $dark-green;
           box-shadow: (2px 2px 2px 2px $green);
           a{
            color:$white;
           }
  
        }
        a{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5%;
          @include typo-bold();
          color: $brown;
         }
         
      }
      &__btnsecondary{
          background: $light-green;
          width: 30%;
          height: 14%;
      &:hover{
        background: $light-green;
        a{
            color:$dark-green;
            text-decoration: underline $dark-green;
          
          }
      }
        a{
          color: $dark-green;
          
        }
        }
    }
    
  }
}