@use "../abstract/_shared.scss"as *;

h2 {
    padding: $small;
    @include typo-bold();
    color: $brown;
    text-decoration: underline $green;
}

.presentation {
    width: $full;
    height: auto;
    display: flex;
    justify-content: center;
    gap: $large;

    @include telephone {
        flex-direction: column;
        align-items: center;
    }

    &__left {
        width: 20%;
        background: $green;

        @include tablette {
            width: 30%;
        }

        @include telephone {
            width: 80%;
            height: 10rem;
        }
    }

    &__right {
        width: 40%;
        display: flex;
        flex-direction: column;

        @include telephone {
            width: 80%;
        }

        & h1 {
            @include typo-bold ();
            color: $green;
        }

        & h2 {
            @include typo-light-italic();
            margin-left: $small;
            text-decoration: none;

            @include tablette {
                font-size: $small;
            }
        }

        &__description {
            width: 75%;
            height: 60%;
            margin: $small;
            text-align: justify;

            @include tablette {
                width: $full;
                height: 80%;
            }

            @include telephone {
                width: calc($full - $medium);
            }
        }

        &__btn {
            max-width: 80%;
            height: 15%;
            background-color: $green;
            border-radius: $small;
            padding: $small;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $brown;
            font-weight: 600;
            gap: $small;

            & ion-icon {
                font-size: 26px;
                margin-bottom: .3rem;
            }

            &:hover {
                background-color: $dark-green;
                box-shadow: (6px 8px 6px $green);
                color: $white;
            }

            @include tablette {
                max-width: $full;
            }
        }

    }
}

.hobbies {
    display: flex;
    flex-direction: column;
    width: calc($full - $large);
    height: auto;
    margin: $large;
    margin-top: $medium;

    &__list {
        width: $full;
        height: auto;
        display: flex;

        @include telephone {
            flex-direction: column;
            align-items: center;
            gap: $medium;
        }

        &__card {
            width: 30%;
            gap: $medium;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include telephone {
                width: $full;
                gap: $small;

            }

            &__img {
                width: 80%;
                height: 80%;
                margin: $small;

                & img {
                    object-fit: cover;
                    border-radius: $small;
                    border: solid 3px $green;
                    width: $full;
                    height: $full;
                }
            }

            &__content {
                display: flex;
                flex-wrap: wrap;
                @include typo-bold-italic();
                font-size: $medium;
                color: $green;

            }

            .content2 {
                display: none;
            }

            @include telephone {
                .content1 {
                    display: none;
                }

                .content2 {
                    display: flex;
                }
            }
        }
    }

}

.skills {
    width: $full;
    height: 18rem;
    display: flex;
    align-items: center;

    @include tablette {
        flex-direction: column;
        align-items: start;
    }

    &__scroll {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scroll-snap-type: y proximity;
        width: auto;
        height: 14rem;
        align-items: center;
        padding-top: calc(14rem - 100px);
        scrollbar-width: none;

        @include tablette {
            align-self: center;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &__items {
            @include typo-regular();
            flex: 0 0 10rem;
            width: 18rem;
            height: $large;
            margin: $small;
            gap: $small;
            color: $green;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $medium;
            scroll-snap-align: center;

            /* The View Timeline Animation */
            animation: pop-in linear both;
            animation-timeline: view(y);

        }

    }
}

.design {
    margin-left: 6rem;

    @include tablette {
        margin-left: 0;
    }
}

.picto {
    width: auto;
    height: $full;
}

@keyframes pop-in {
    0% {
        transform: scale(0.5);
        opacity: 0.2;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    /* Center Point */
    100% {
        transform: scale(0.5);
        opacity: 0.2;
    }
}